<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; }
        .quiz-container { margin-top: 20px; }
    </style>
</head>
<body>
<h1>퀴즈</h1>
<div class="quiz-container">
    <h2 th:text="${test.name}"></h2>
    <ul>
        <li th:each="quiz : ${test.testEntityList}">
            <p><strong>질문:</strong> <span th:text="${quiz.question}"></span></p>
            <p><strong>답변:</strong> <span th:text="${quiz.answer}"></span></p>
        </li>
    </ul>
</div>
<a href="/">홈으로</a>
</body>
</html>
